Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
SpaceBeforeParens: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
PointerAlignment: Right
SortIncludes: false
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
IndentCaseLabels: true
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
ReflowComments: true
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false
SpacesInParentheses: false
AlignArrayOfStructures: Left
